header, nav, main, footer {
padding: 20px;
background: #15ff00;
margin: 5px;
}
@media (min-width: 768px) {
nav {
background: #ff0000;
}
}
@media (min-width: 1200px) {
body {
display: grid;
grid-template-columns: 250px 1fr;
grid-template-areas:
"header header"
"nav main"
"footer footer";
}
header { grid-area: header; }
nav    { grid-area: nav; }
main   { grid-area: main; }
footer { grid-area: footer; }
}