 body {
    background-color: lemonchiffon;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #eef2f3;
      font-family: Arial, sans-serif;
    }
    form {
      background: white;
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      width: 400px;
      text-align: center;
    }
    input[type="text"] {
      width: 90%;
      padding: 15px;
      font-size: 18px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    input[type="submit"] {
      background-color: #007BFF;
      color: white;
      border: none;
      padding: 12px 25px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }
 input[type="submit"]:hover {
      background-color: #0056b3;
    }
.btn {
    padding: 12px 30px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background: #4a90e2;
    color: white;
    cursor: pointer;
    transition: 0.3s;
        opacity: 0;
    animation: fadeIn 2s forwards;
}
.btn:hover {
    background: #357ab8;
    transform: scale(1.1);
}
.title {
    font-size: 40px;
    opacity: 0;
    animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}