body {
  user-select: none;
  background-color: rgb(200, 197, 197);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: rgb(5, 5, 5);
}

h1 {
  text-align: center;
  font-weight: 600;
  color: rgb(5, 5, 5);
}

h2 {
  text-align: center; font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  color: rgb(5, 5, 5);
}

h4 {
  text-align: center;
  font-weight: 500;
  color: rgb(5, 5, 5);
}

p {
  color: rgb(5, 5, 5);
  line-height: 1.6;
  text-align: justify;
  margin: 15px 80px;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

th, td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  color: rgb(5, 5, 5);
}

th {
  background-color: #444;
  color: white;
}

caption {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(5, 5, 5);
}
a {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  color: rgb(5, 5, 5);
  text-decoration: none;
  cursor: crosshair;
  transition: 0.3s;
}
a:hover {
  text-decoration: underline;
  background-color: white;
}
#scrollTrack {
  position: fixed;
  right: 10px;
  top: 0;
  width: 10px;
  height: 100vh;
  background: rgba(100,100,100,0.2);
  border-radius: 10px;
}
#bar {
  position: absolute;
  width: 10px;
  height: 60px;
  background: #666;
  border-radius: 10px;
  cursor: pointer;
}
#goUp, #goDown {
  position: fixed;
  right: 10px;
  width: 40px;
  height: 40px;
  background: #2b2b2b;
  color: white;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  opacity: 0.85;
  cursor: pointer;
}
#goUp { bottom: 70px; }
#goDown { bottom: 20px; }